body {
    padding-top: 56px; /* Hauteur de la barre de navigation */
  }
  
  .container {
    max-width: 1550px;
    margin-top: 20px;
    
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .grid {
    margin-top: 20px;
  }
  
  .residences h2,
  .apps h2,
  .flex h2 {
    margin-bottom: 20px;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .table th,
  .table td {
    text-align: center;
    height: 50px;
    font-weight: 100;
	font-size:15px;
	margin-bottom: 0px;
  }
  
  .no-appartement-message {
    margin-top: 20px;
    text-align: center;
  }
  
  .favorites-message {
    margin-top: 20px;
    text-align: center;
  }
  